{% extends "impala/base_shared.html" %}

{% block title %}{{ page_title(_('User Login')) }}{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block content %}

<div class="primary">
  {% include "users/login_help.html" %}
  <section class="island hero primary grid prettyform">
    <h1>{{_('Login with Firefox Accounts')}}</h1>
    <p class="listing-footer">
      <a class="button" href="{{ default_fxa_login_url() }}">{{_('Continue')}}</a>
    </p>
  </section>
</div>
{% endblock content %}

